Repository katsmamina/HYF-website, pull requests merged in 2021-04, with the labels that each got.

#10 Uploading HTML file.
  index.html
Labels: type: html

#11 Create style.css file
  CSS/style.css
Labels: type: css, type: documentation

#14 Upload links.md
  links.md
Labels: type: assets

#13 Added contactInfo.md file
  contactInfo.md
Labels: documentation, type: assets, type: documentation

#15 Uploading social media icons.
  IMAGES/social-media/github.svg
  IMAGES/social-media/index.svg
  IMAGES/social-media/linkedin.svg
  IMAGES/social-media/twitter.svg
Labels: type: assets

#12 Uploading planning folder with the default files.
  planning/README.md
  planning/backlog.md
  planning/constraints.md
  planning/development-strategy.md
  planning/docs_wireframe.md
  planning/retrospective.md
Labels: documentation, type: documentation

#16 added Lizhen as contact
  contactInfo.md
Labels: type: assets

#21 Added fonts references of HYF website
  fonts.md
Labels: type: assets

#19 Updated communication schedule and Rayane's availability
  planning/README.md
Labels: type: documentation

#20 Added logo of HYF
  IMAGES/logo-HYF.svg
Labels: type: assets

#23 Create color-scheme.md
  color-scheme.md
Labels: type: assets

#28 Update backlog.md
  planning/backlog.md
Labels: documentation, type: documentation

#33 added css rules to specify font families
  fonts.md
Labels: type: design

#42 Added must-haves for homepage and the program page
  planning/development-strategy.md
Labels: documentation, type: documentation

#36 Copied the code of the fonts into the <head> of index.html
  index.html
Labels: type: design, type: html

#43 Create program.html
  program.html
Labels: type: html

#49 Added external style sheet, title and some elements
  index.html
Labels: type: html

#61 Added logo, nav-bar and button to index.html
  index.html
Labels: for: header, type: html

#64 Positioning the elements from the header
  CSS/style.css
Labels: for: header, type: css

#65 Update Dev-Strat JT
  planning/development-strategy.md
Labels: documentation, type: documentation

#92 added html for partners
  CSS/style.css
  index.html
Labels: for: partners, type: html

#102 Added footer fixed at the bottom
  CSS/style.css
  index.html
Labels: for: footer, type: css, type: html

#106 Changed item name from program to the program
  CSS/style.css
  index.html
Labels: for: header, type: css, type: html

#108 Program page structure and Application section
  CSS/style.css
  program.html
Labels: for: application, for: footer, type: css, type: html

#118 head margin fix
  CSS/style.css
Labels: for: partners, type: css

#120 Our Core values section
  CSS/style.css
  index.html
Labels: for: values, type: css, type: html

#121 Add section full program to program.html and style.css
  CSS/style.css
  program.html
Labels: for: full program, type: css, type: html

#93 Added our-program-section- HTML
  CSS/style.css
  index.html
Labels: for: our-program, type: html
